.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
}

.wrapper > .content {
    flex: 1;
    height: 0;
    overflow: auto;
}

.ui.menu {
    border-radius: 0;
}

.ui.menu .item:before{
    display: none;
}

.ui.cards {
    margin: 0;
    padding: 5px;
}

.ui.message {
    width: 100%;
}